{{- define "main" -}}
<main class="container pt-3">

<h1>{{ .Title | markdownify }}</h1>
<p class="text-muted">{{ .PublishDate.Format "January 2, 2006" }}</p>

{{ .Content }}

<hr>

<ul class="list-inline">
{{ with .NextInSection }}
  <li class="list-inline-item"><a href="{{ .Permalink }}" title="{{ .Title }}">Newer</a></li>
{{ end }}

{{ with .PrevInSection }}
  <li class="list-inline-item"><a href="{{ .Permalink }}" title="{{ .Title }}">Older</a></li>
{{ end }}
</ul>

</main>
{{- end -}}
